@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
}




@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: #030d1d;
  
}
div{
  display:flex;
  flex-direction: column;
  

}

.row{
  display:flex;
  flex-direction: column;


}

.overall{
  justify-content: center;
  align-items: center;
  margin:5%;
}

.stylel {
  color:yellow;
  text-align: center;
  flex-direction: column;
  
}

.fonty{
  color:yellow;
  text-align: center;
  flex-direction: column;
  font-family: monospace;
  font-size: xx-large;
  text-decoration: none;
  margin:1%;
}
a:hover{
  color:red;
  font-style: italic;
  font-weight: bold;
}

.colors{
  color:yellow;
}

h1 {
  font-family: "SF Distant Galaxy";
  font-size: 350%;
}

.centero{
  justify-content: center;
}

/* computer */
@media screen and (min-width: 600px) {
  .links{
    flex-direction: row;
    justify-content: space-around;
  }

  .row{
  flex-direction: row;

}


}
/* bg original color: e4e7ec */ 